* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 1rem auto;
  width: 1320px;
}

.slider {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.card {
  width: 50rem;
  height: 25rem;
  border: 0.1rem solid red;
  border-radius: 1rem;
  background-color: blue;
  padding: 1rem;
  color: white;
  text-align: center;
  align-content: center;
  /* flex: 0 0 50%; */
  scroll-snap-align: start;
  flex-shrink: 0;
}
