.about {
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    min-width: 550px;
  }

  &-image-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 100%;
      height: auto;
      min-width: 611px;
      object-fit: contain;
    }
  }
}
.hero-title {
  font-size: var(--hero-title-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  line-height: 7rem;

  &-laslesvpn {
    font-weight: var(--extra-bold-font-weight);
  }
}

.statistics-container {
  grid-column: 1/-1;
  justify-self: start;
  margin-top: 5rem;
}

.Statistics {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7.25rem 9.1rem;
  border-radius: var(--defult-radius);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 48px 178px -95px rgba(13, 16, 37, 1);
  gap: 240px;

  &-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.65rem;

    &-icon {
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-numbers {
        font-weight: var(--extra-bold-font-weight);
        font-size: var(--statistics-font-size1);
        line-height: 3rem;

        &-name {
          font-weight: var(--text-font-weight);
          font-size: var(--statistics-font-size2);
          color: var(--text-color);
        }
      }
    }
  }
}
