.about {
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    min-width: 55rem;
  }

  &-image-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero-title {
  font-size: var(--hero-title-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  line-height: 7rem;

  &-laslesvpn {
    font-weight: var(--extra-bold-font-weight);
  }
}

.statistics-container {
  grid-column: 1/-1;
  justify-self: start;
  margin-top: 5rem;
}

.Statistics {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7.25rem 9.1rem;
  border-radius: var(--defult-radius);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4.8rem 17.8rem -9.5rem rgba(13, 16, 37, 1);
  gap: 24rem;

  &-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.65rem;
    position: relative;

    &-icon {
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-numbers {
        font-weight: var(--extra-bold-font-weight);
        font-size: var(--statistics-font-size1);
        line-height: 3rem;

        &-name {
          font-weight: var(--text-font-weight);
          font-size: var(--statistics-font-size2);
          color: var(--text-color);
          text-transform: capitalize;
        }
      }
    }
  }
}

.Statistics-column:nth-child(2):before,
.Statistics-column:nth-child(2):after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.2rem;
  height: 12.557rem;
  background-color: rgba(238, 239, 242, 1);
  border-radius: var(--defult-radius);
}

.Statistics-column:nth-child(2)::before {
  left: -11.3rem;
}

.Statistics-column:nth-child(2)::after {
  right: -13.45rem;
}
