.about {
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    min-width: 540px;
    flex: 1;
  }

  &-image-content {
    display: flex;
    flex-shrink: 0;
  }
}
.hero-title {
  font-size: var(--hero-title-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  line-height: 7rem;

  &-laslesvpn {
    font-weight: var(--extra-bold-font-weight);
  }
}

.Statistics {
  grid-column: 1/-1;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 7.25rem 9.1rem;
  border-radius: var(--defult-radius);
  box-shadow: 0 0 3px rgb(34, 32, 32);
  // width: 1140px;
  // height: 200px;

  &-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.65rem;

    &-icon {
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-numbers {
        font-weight: var(--extra-bold-font-weight);
        font-size: var(--statistics-font-size1);
        line-height: 3rem;

        &-name {
          font-weight: var(--text-font-weight);
          font-size: var(--statistics-font-size2);
          color: var(--text-color);
        }
      }
    }
  }
}
