.features {
  grid-template-columns: 60% 40%;
  //   gap: 16.948rem;
  align-items: end;

  &-image-content {
    // margin-left: 3rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // text-align: start;
    gap: 2rem;
  }
}
