html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik";
  line-height: 1;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
}
