html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik";
  line-height: 100%;
  color: var(--main-text-color);
  background-color: rgba(255, 255, 255, 1);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  max-width: 1440px;
}

.section {
  display: grid;
  align-items: center;
  margin: 5rem 15rem;
}

.description {
  font-size: var(--description-font-size);
  font-weight: var(--text-font-weight);
  color: var(--text-color);
  line-height: 3rem;
}

.laslessvpn {
  font-weight: var(--main-font-weight);
}

.image {
  max-width: 100%;
}

.button {
  position: relative;
  padding: 1.75rem 7.75rem;
  border-radius: var(--defult-radius);
  background-color: var(--main-color);
  color: var(--bold-button-text-color);
  font-weight: var(--extra-bold-font-weight);
  font-size: var(--description-font-size);
  margin-top: 3rem;
  line-height: 2.5rem;
}

.button::after {
  position: absolute;
  content: "";
  top: 52%;
  left: 50%;
  transform: translatex(-50%);
  width: 21.183rem;
  height: 6rem;
  background-color: rgba(245, 56, 56, 0.35);
  border-radius: 1rem;
  filter: blur(2.5rem);
  z-index: -1;
}

.title {
  font-size: var(--title-font-size);
  font-weight: var(--main-font-weight);
  line-height: 5rem;
  margin-bottom: 0.5rem;
  // display: flex;
  // flex-direction: column;
  // display: block;

  span {
    display: block;
  }
}

.list {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  gap: 1.5rem;
  // text-align: center;

  &-element {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--details-font-size);
    font-weight: var(--text-font-weight);
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }
}
