html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik";
  line-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5rem 15rem;
}

.description {
  font-size: var(--description-font-size);
  font-weight: var(--text-font-weight);
  color: var(--text-color);
  line-height: 3rem;
}

.laslessvpn {
  font-weight: var(--main-font-weight);
}

.image {
  max-width: 100%;
}

.button {
  padding: 1.75rem 7.5rem;
  border-radius: var(--defult-radius);
  background-color: var(--main-color);
  color: var(--bold-button-text-color);
  font-weight: var(--extra-bold-font-weight);
  font-size: var(--description-font-size);
  margin-top: 3rem;
  line-height: 2.5rem;
  box-shadow: 0px 20px 20px 0px rgba(245, 56, 56, 0.35);
}
