.help {
  // grid-template-columns: 4fr 1fr 1fr 1fr;
  // display: flex;
  // align-items: start;
  //   justify-items: center;
  background-color: rgba(248, 248, 248, 1);
  padding-top: 0;
  // padding-bottom: 10rem;
  // column-gap: 9.6rem;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateY(-20%);
  }
  .list-element {
    font-size: var(--description-font-size);

    a:hover {
      text-decoration: underline;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.subscribe {
  // grid-column: 1/-1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5.85rem 7rem;
  // gap: 37rem;
  background-color: var(--bold-button-text-color);
  border-radius: var(--defult-radius);
  box-shadow: 0 0rem 1rem -1rem rgba(13, 16, 37, 1);
  transform: translateY(-50%);

  &-now {
    text-align: left;

    .description {
      margin: 0;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10.4rem;

  &-socials {
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    margin: 1rem 0 3rem 0;
    gap: 2rem;
  }

  .icon {
    border-radius: 50%;
    box-shadow: 0 0.9rem 2.2rem -1.1rem var(--main-text-color);
    transition: all 0.3s ease-in-out;
  }

  .icon:hover {
    transform: translateY(-0.5rem) scale(1.1);
  }

  &-footer {
    color: var(--footer-color);
    font-size: var(--description-font-size);
    font-weight: var(--text-font-weight);
    line-height: 3rem;
    margin-bottom: 0.5rem;

    span {
      font-weight: var(--main-font-weight);
    }
  }
}
