.help {
  // grid-template-columns: repeat(4, 1fr);
  display: flex;
  align-content: center;
  //   justify-items: center;
  background-color: rgba(248, 248, 248, 1);
  padding-top: 18rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &-socials {
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    margin: 1rem 0 3rem 0;
    gap: 2rem;
  }

  .icon {
    border-radius: 50%;
    box-shadow: 0 0.9rem 2.2rem -1.1rem var(--main-text-color);
    transition: all 0.3s ease-in-out;
  }

  .icon:hover {
    transform: translateY(-0.5rem) scale(1.1);
  }

  &-footer {
    color: var(--footer-color);
    font-size: var(--description-font-size);
    font-weight: var(--text-font-weight);
    line-height: 3rem;
    margin-bottom: 0.5rem;

    span {
      font-weight: var(--main-font-weight);
    }
  }
}
