.pricing {
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 6rem;
  background: linear-gradient(rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));

  &-content {
    text-align: center;
  }

  &-plans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    &-plan {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;
      padding: 5rem 6.763rem;
      border: 0.2rem solid rgba(221, 221, 221, 1);
      border-radius: var(--defult-radius);
      transition: all 0.3s ease-in-out;

      &-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: auto;

        span {
          font-weight: var(--main-font-weight);
          font-size: var(--statistics-font-size1);
          line-height: 3rem;
          margin-bottom: 0.5rem;

          span {
            font-weight: var(--text-font-weight);
            color: var(--text-color);
          }
        }

        &-button {
          color: var(--main-color);
          padding: 1.3rem 6.294rem;
          border: 0.2rem solid var(--main-color);
          border-radius: var(--special-radius);
          font-weight: var(--extra-bold-font-weight);
          line-height: 100%;
          font-size: var(--description-font-size);
          transition: all 0.3s ease-in-out;
          position: relative;
          cursor: pointer;
        }
      }
    }
  }
}

.pricing-plans-plan:hover {
  border: 0.2rem solid rgba(245, 56, 56, 1);
}

.pricing-plans-plan-selection-button:hover,
.pricing-plans-plan-selection-button:active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(245, 56, 56, 1);
}

.pricing-plans-plan-selection-button:hover::after,
.pricing-plans-plan-selection-button:active::after {
  position: absolute;
  content: "";
  top: 52%;
  left: 50%;
  transform: translatex(-50%);
  width: 15rem;
  height: 4rem;
  background-color: rgba(245, 56, 56, 0.35);
  border-radius: 1rem;
  filter: blur(2.5rem);
  z-index: -1;
}
