@media (max-width: 500px) {
  .header {
    justify-content: space-between;

    .sign {
      flex-direction: column;

      &-up {
        order: -1;
      }
    }
  }
}

@media (max-width: 745px) {
  .section {
    padding: 5rem 1rem;
    text-align: center;
  }

  .header {
    // margin: 2rem 2rem;
    // gap: 1rem;
    // align-items: flex-start;
    // justify-content: flex-start;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    align-items: start;
    margin: 2rem 1rem;

    .burger-menu-logo-container {
      display: flex;
      gap: 1rem;
    }
    .links {
      opacity: 0;
      grid-column: 1/-1;
      grid-row: 2/3;
      justify-self: center;
      margin: 0;
      gap: 1rem;
      font-size: 1.3rem;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
    }

    #burger-menu:checked ~ .links {
      opacity: 1;
      pointer-events: auto;
    }

    #burger-menu:checked ~ .burger-menu-logo-container .burger-menu-container {
      border-color: var(--main-color);
      border-radius: 50%;
    }
    .sign {
      gap: 1rem;
      margin-left: auto;

      &-up {
        padding: 1rem 3rem;
      }
    }
    .burger-menu-container {
      margin-top: 0.5rem;
      border: 0.1rem solid var(--footer-color);
      width: 3rem;
      height: 3rem;
      border-radius: var(--defult-radius);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
    .burger-menu-bar {
      width: 2rem;
      height: 0.1rem;
      background-color: var(--footer-color);
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content {
      align-items: center;
    }

    &-image-content {
      order: -1;
    }
  }

  .statistics-container {
    justify-self: center;
    justify-items: center;
    align-content: center;
  }

  .Statistics {
    gap: 3rem;
    padding: 3rem;

    &-column {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;

      &-icon {
        order: -1;
      }

      &-content {
        text-align: center;
      }
    }
  }

  .Statistics-column:nth-child(2)::before {
    left: -0.9rem;
  }

  .Statistics-column:nth-child(2)::after {
    right: -0.9rem;
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &-content {
      align-items: center;
    }
  }

  .pricing {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-plans {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-plan {
        gap: 1rem;
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-items: center;
        align-items: start;

        ul {
          grid-column: 2/3;
          grid-row: 1/4;
          gap: 0;

          li {
            gap: 0.1rem;
          }
        }

        h3 {
          order: -1;
        }

        &-selection {
          grid-column: 1/-1;
        }
      }
    }
  }

  .testimonials {
    .global-map {
      margin: 0rem 0 3rem;
    }

    &-content-apps {
      img {
        width: 7.4rem;
      }

      .netflix {
        margin-right: 0;
      }
      .spotify {
        margin-left: 0;
      }
    }
  }

  .slider-container-image {
    width: 100%;
  }

  .subscribe {
    transform: translateY(-25%);
    padding: 2rem 1rem 4rem;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 3rem;
    }

    &-now {
      text-align: center;
    }
  }

  .help {
    &-list {
      align-items: flex-start;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-content: center;
      justify-items: stretch;
      transform: translateY(0);

      .footer {
        grid-row: 2/3;
        grid-column: 1/-1;
      }

      ul {
        text-align: left;
      }
      li a {
        font-size: 1.2rem;
      }
    }
  }

  .footer {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-right: 0;
    margin-top: 3rem;
  }
}
