@media (max-width: 743px) {
  .section {
    padding: 5rem 1rem;
    text-align: center;
  }

  .header {
    margin: 1rem 2rem;
    gap: 2rem;

    .links {
      display: none;
    }

    .sign {
      gap: 1rem;
      flex-direction: column;

      &-up {
        padding: 1rem 3rem;
        order: -1;
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content {
      align-items: center;
    }

    &-image-content {
      order: -1;
    }
  }

  .statistics-container {
    justify-self: center;
    justify-items: center;
    align-content: center;
  }

  .Statistics {
    gap: 3rem;
    padding: 3rem;

    &-column {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;

      &-icon {
        order: -1;
      }

      &-content {
        text-align: center;
      }
    }
  }

  .Statistics-column:nth-child(2)::before {
    left: -0.9rem;
  }

  .Statistics-column:nth-child(2)::after {
    right: -0.9rem;
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &-content {
      align-items: center;
    }
  }

  .pricing {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-plans {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-plan {
        gap: 1rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-items: center;
        align-items: start;

        ul {
          grid-column: 2/3;
          grid-row: 1/4;
          gap: 0;

          li {
            gap: 0.1rem;
          }
        }

        h3 {
          order: -1;
        }

        &-selection {
          grid-column: 1/-1;
        }
      }
    }
  }
}
