@media (max-width: 743px) {
  .section {
    padding: 5rem 1rem;
    text-align: center;
  }

  .header {
    margin: 1rem 2rem;
    gap: 2rem;

    .links {
      display: none;
    }

    .sign {
      gap: 1rem;
      flex-direction: column;

      &-up {
        padding: 1rem 3rem;
        order: -1;
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content {
      align-items: center;
    }

    &-image-content {
      order: -1;
    }
  }

  .statistics-container {
    justify-self: center;
    justify-items: center;
    align-content: center;
  }

  .Statistics {
    gap: 3rem;
    padding: 3rem;

    &-column {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;

      &-icon {
        order: -1;
      }

      &-content {
        text-align: center;
      }
    }
  }

  .Statistics-column:nth-child(2)::before {
    left: -0.9rem;
  }

  .Statistics-column:nth-child(2)::after {
    right: -0.9rem;
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &-content {
      align-items: center;
    }
  }

  .pricing {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-plans {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-plan {
        gap: 1.5rem;
        padding: 1.5rem;

        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          li {
            gap: 1rem;
            align-items: self-start;
            text-align: start;

            span {
              display: block;
            }
          }
        }
      }
    }
  }
}
