@media (max-width: 1439px) {
  .section {
    padding: 3rem 5rem;
  }

  .header {
    margin: 5rem 5rem;

    .links {
      gap: 3rem;
    }
  }

  .hero-title {
    font-size: calc(var(--hero-title-font-size) * 0.8);
  }

  .statistics-container {
    justify-self: center;
  }

  .Statistics {
    gap: 15rem;
  }

  .pricing {
    &-plans {
      gap: 3rem;

      &-plan {
        padding: 5.963rem 4.987rem 3rem;
      }
    }
  }

  .testimonials-content-apps img {
    width: 15rem;
  }

  .testimonials {
    padding-bottom: 10rem;
  }

  .subscribe {
    padding: 4rem 6rem;
  }
}

@media (min-width: 744px) and (max-width: 1024px) {
  .section {
    padding: 3rem 5rem;
  }

  .description {
    line-height: 2rem;
    font-size: calc(var(--description-font-size) / 1.2);
    margin: 1rem 0;
  }

  .logo-content {
    gap: 0.5rem;

    .logo-content-icon {
      width: 3rem;
    }

    &-name {
      font-size: calc(var(--statistics-font-size2) / 1.5);
    }
  }

  .button {
    padding: calc(1.75rem / 1.5) calc(7.75rem / 1.5);
    font-size: calc(var(--description-font-size) / 1.5);
    line-height: 1.5rem;
  }

  .button::after {
    width: calc(21.183rem / 1.5);
    height: calc(6rem / 1.5);
  }

  .title {
    font-size: calc(var(--title-font-size) / 1.5);
    line-height: calc(5rem / 1.5);
    margin-bottom: calc(0.5rem / 1.5);
  }

  .list {
    gap: calc(1rem / 1.5);

    &-element {
      gap: calc(2.36rem / 1.5);
      font-size: calc(var(--details-font-size) / 1.4);
      line-height: calc(3rem / 1.5);
    }
  }

  .side-title {
    font-size: calc(var(--special-title-font-size) / 1.5);
    line-height: calc(3rem / 1.5);
    margin-bottom: calc(0.5rem / 1.5);
  }

  .header {
    margin: 3rem 5rem;

    .links {
      font-size: 1.4rem;
      gap: 1.5rem;
    }

    .sign {
      font-size: calc(var(--description-font-size) / 1.5);
      gap: 1.5rem;
      &-up {
        padding: 0.5rem 2.5rem;
      }
    }
  }

  .about {
    &-content {
      gap: 1rem;
    }
  }

  .hero-title {
    font-size: calc(var(--hero-title-font-size) / 2);
    line-height: 3.5rem;
  }

  .statistics-container {
    margin-top: calc(5rem / 1.5);
    justify-self: center;
  }

  .Statistics {
    padding: calc(7.25rem / 3) calc(9.1rem / 3);
    gap: calc(24rem / 4);

    &-column {
      gap: calc(3.65rem / 1.5);

      &-icon {
        width: 75%;
      }

      &-content {
        gap: 0.25rem;

        &-numbers {
          font-size: calc(var(--statistics-font-size1) / 1.5);
          line-height: calc(3rem / 1.5);

          &-name {
            font-size: calc(var(--statistics-font-size2) / 1.5);
          }
        }
      }
    }
  }

  .Statistics-column:nth-child(2):before,
  .Statistics-column:nth-child(2):after {
    height: calc(12.557rem / 1.5);
  }

  .Statistics-column:nth-child(2)::before {
    left: -2.533333rem;
  }

  .Statistics-column:nth-child(2)::after {
    right: -3.45rem;
  }

  .features {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  ul li img {
    width: 1rem;
  }

  .pricing {
    &-plans {
      gap: calc(5rem / 2);

      &-plan {
        gap: calc(3rem / 2);
        padding: calc(7.963rem / 2) calc(6.987rem / 2) calc(5rem / 2);

        img {
          width: 10rem;
        }

        li img {
          width: 1rem;
        }

        &-selection {
          gap: calc(2rem / 2);

          span {
            line-height: calc(3rem / 1.5);
            font-size: calc(var(--statistics-font-size1) / 1.5);
            margin-bottom: calc(0.5rem / 2);
          }

          &-button {
            font-size: calc(var(--description-font-size) / 1.5);
            padding: calc(1.3rem / 1.5) calc(6.294rem / 1.5);
          }
        }
      }
    }
  }

  .testimonials {
    padding-bottom: 10rem;
    .global-map {
      margin: calc(13.5rem / 1.5) 0 calc(3.51rem / 1.5);
    }

    &-content-apps {
      img {
        width: 12rem;
      }

      .netflix {
        margin-right: calc(5.984rem / 1.5);
      }

      .spotify {
        margin-left: calc(5.894rem / 1.5);
      }
    }
  }

  .slider-container {
    gap: calc(5rem / 1.5);
    margin-bottom: calc(8rem / 1.5);

    &-image {
      width: 30rem;
    }
  }

  .slider-controls {
    right: 2rem;
    bottom: 5rem;
    gap: calc(2rem / 1.5);
  }

  .arrow {
    font-size: calc(var(--statistics-font-size1) / 1.2);
    width: calc(6rem / 1.2);
    height: calc(6rem / 1.2);
  }

  .slider-dots {
    gap: 1rem;
  }

  .dot {
    width: 1.2rem;
    height: 1.2rem;
  }

  .help {
    &-content {
      transform: translateY(-25%);
    }

    .list-element {
      font-size: 1.2rem;
    }
  }

  .subscribe {
    padding: calc(5.85rem / 1.5) calc(7rem / 1.5);
    transform: translateY(-75%);
  }

  .footer {
    margin-right: 9rem;
    .icon {
      width: 3rem;
    }
    .logo-content {
      margin-bottom: 1rem;

      &-icon {
        width: 2.7rem;
      }
    }

    &-footer {
      font-size: calc(var(--details-font-size) / 1.5);
    }
  }
}
