.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 18.1rem;

  .global-map {
    margin: 13.5rem 0 3.51rem;
  }
  &-content-apps {
    display: flex;
    align-items: center;
    justify-content: center;

    .netflix {
      margin-right: 5.984rem;
    }

    .spotify {
      margin-left: 5.984rem;
    }
  }
}

.second-title {
  margin-top: 5rem;
}
