:root {
  --main-color: rgba(245, 56, 56, 1);
  --main-text-color: rgba(11, 19, 42, 1);
  --text-color: rgba(79, 86, 101, 1);
  --bold-button-text-color: rgba(255, 255, 255, 1);
  --main-font-weight: 500;
  --text-font-weight: 400;
  --extra-bold-font-weight: 700;
  --hero-title-font-size: 5rem;
  --title-font-size: 3.5rem;
  --description-font-size: 1.6rem;
  --details-font-size: 1.4rem;
  --analytics-font-size1: 2.5rem;
  --analytics-font-size2: 2rem;
  --special-title-font-size: 1.8rem;
  --defult-radius: 1rem;
  --special-radius: 5rem;
  --font-family: "Rubik";
}
