/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
:root {
  --main-color: rgba(245, 56, 56, 1);
  --main-text-color: rgba(11, 19, 42, 1);
  --text-color: rgba(79, 86, 101, 1);
  --bold-button-text-color: rgba(255, 255, 255, 1);
  --main-font-weight: 500;
  --text-font-weight: 400;
  --extra-bold-font-weight: 700;
  --hero-title-font-size: 5rem;
  --title-font-size: 3.5rem;
  --description-font-size: 1.6rem;
  --details-font-size: 1.4rem;
  --analytics-font-size1: 2.5rem;
  --analytics-font-size2: 2rem;
  --special-title-font-size: 1.8rem;
  --defult-radius: 1rem;
  --special-radius: 5rem;
  --font-family: "Rubik";
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik";
  line-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5rem 15rem;
}

.description {
  font-size: var(--description-font-size);
  font-weight: var(--text-font-weight);
  color: var(--text-color);
  line-height: 3rem;
}

.laslessvpn {
  font-weight: var(--main-font-weight);
}

.image {
  max-width: 100%;
}

.button {
  padding: 1.75rem 7.5rem;
  border-radius: var(--defult-radius);
  background-color: var(--main-color);
  color: var(--bold-button-text-color);
  font-weight: var(--extra-bold-font-weight);
  font-size: var(--description-font-size);
  margin-top: 3rem;
  line-height: 2.5rem;
  box-shadow: 0px 20px 20px 0px rgba(245, 56, 56, 0.35);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  padding: 5rem 15rem;
}
.header .logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .logo-content-name {
  font-weight: var(--main-font-weight);
  font-size: var(--analytics-font-size2);
}
.header .logo-content-name-vpn {
  font-weight: var(--extra-bold-font-weight);
}
.header .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  color: var(--text-color);
  font-weight: var(--text-font-weight);
  text-transform: capitalize;
}
.header .sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-shrink: 0;
  font-weight: var(--main-font-weight);
  font-size: var(--description-font-size);
  text-transform: capitalize;
}
.header .sign-in {
  color: var(--main-text-color);
}
.header .sign-up {
  color: var(--main-color);
  padding: 1.3rem 4.5rem;
  border: 0.1rem solid var(--main-color);
  border-radius: var(--special-radius);
}

.about {
  gap: 4rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  align-items: flex-start;
}
.about-image-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.hero-title {
  font-size: var(--hero-title-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  line-height: 7rem;
}
.hero-title-laslesvpn {
  font-weight: var(--extra-bold-font-weight);
}/*# sourceMappingURL=main.css.map */